.navContainer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: lightgrey;
  list-style-type: none;
  color: white;
}

.navContainer a {
  color: darkslategray;
  font-weight: bold;
  text-decoration: none;
}

.navContainer a:hover {
  color: black;
}

.navSection {
  display: flex;
  gap: 20px;
}
