.navContainer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: rgb(55, 55, 55);
  list-style-type: none;
  color: white;
  margin: 0px;
}

.navContainer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navContainer a:hover {
  color: rgb(255, 0, 179);
}

.navSection {
  display: flex;
  gap: 20px;
}
